# App
PORT=???
CORS_ORIGIN=???

# Database
DATABASE_URL=???
POSTGRES_USER=???
POSTGRES_PASSWORD=???
POSTGRES_DB=???

# Mail

/*
    TODO: napravit da ne salje u sandbox nego kao pravi mail
    trenutno se treba napravit racun na https://mailtrap.io/ i stavit njihove podatke
*/

MAIL_HOST=???
MAIL_PORT=???
MAIL_USER=???
MAIL_PASS=???
MAIL_FROM_NAME=???
MAIL_FROM_ADDRESS=???
APP_URL=???


# JWT
JWT_SECRET_KEY=???
JWT_EXPIRES_IN=???

# Frontend
VITE_API_URL=???