.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: stretch;

    padding: var(--screen-padding);
}

.reserveButton {
    width: 100%;
}
