.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100%;
}

.title {
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: var(--heading-l-size);
    line-height: var(--heading-l-line);
    color: var(--color-text-primary);
    margin-bottom: var(--space-4);
}
.subtitle {
    font-family: var(--font-body);
    font-size: var(--body-m-size);
    line-height: var(--body-m-line);
    color: var(--color-text-secondary);
    margin-bottom: var(--space-4);
}
