.button {
    background-color: var(--color-action-primary);
    border: solid 2px var(--color-action-primary);

    color: var(--color-text-white);

    width: 246px;
    height: 48px;
}

.button:hover {
    opacity: 80%;
}

.button:active,
.button:focus {
    opacity: 100%;
}
