.container,
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    gap: 6rem;

    height: 100%;
}

.content {
    gap: 1rem;
}

.loginText {
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: var(--color-text-secondary);
}

.loginLink {
    text-decoration: none;
    color: var(--color-action-primary);
}
