.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    padding: var(--screen-padding);
    gap: var(--space-6);

    height: 100%;
}

.container > div {
    width: 100%;
}

.filtersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: var(--space-4);
}

.loadingText,
.errorText {
    font-family: var(--font-body);
    font-size: var(--body-s-size);
    line-height: var(--body-s-line);
}

.loadingText {
    color: var(--color-text-secondary);
}

.errorText {
    color: var(--color-error);
}
